.sider {
  z-index: 1000;
}

.logo {
  height: 70px;
  background: rgba(0,0,0,0.3);
  margin: 0;
  padding: 0 10px;
  text-align: center;
  overflow: hidden;
}

.sideMenu {
  padding-top: 35px;
  padding-bottom: 35px;
  background: transparent;
}